---
import '@knadh/oat/oat.min.js';
import type { CollectionEntry } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import SEO from "@/components/SEO.astro";

interface Props {
  entry: CollectionEntry<"posts">;
}

const { entry } = Astro.props;
const { title, description, published, tags } = entry.data;
---

<BaseLayout>
  <SEO slot="seo" {title} {description} />

  <article class="article">
    <header>
      <h1>{title}</h1>
      <time datetime={published.toISOString()}>
        {published.toLocaleDateString("en-US", { year: "numeric", month: "long", day: "numeric" })}
      </time>
      {tags && tags.length > 0 && (
        <ul aria-label="Tags">
          {tags.map((tag) => (
            <li>
              <a href={`/tags/${tag}`}>{tag}</a>
            </li>
          ))}
        </ul>
      )}
    </header>

    <section>
      <slot />
    </section>
  </article>
</BaseLayout>